.carousel-cell {
    width: 84%;
    height: 80vh;
    margin-right: 10px;
    background: rgb(224, 224, 224);
    border-radius: 5px;
    padding: 40px;
    counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}


.box-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 85px;
    background-color: #ccc;
    margin: 5px 5px;
}

/* deck button */
.deck-btn {
    width: 100px;
    height: 100px;
}
